* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
  header{
    background-color:white;
    width:100%;
}
header h2{
  font-size:20px;
  float:left;
  padding-left:250px;
}
header h3{
  float:right;
  padding-right:250px;
}
hr{
  height:1px;
  background-color:red;
  width:100%;
  border:none;
}
.header1{
}
.header2{
  display:inline;
  width:50%;
  margin:0 auto;
  text-align:center;
    border: solid 1px #000000;
}
.header2 p{
  line-height:1;
  color:red;
}
  .header3{
    display:inline-block;
    padding-left:500px;
    
}
.header3 p{
  color:blue;
}
.header4{
  text-align:center;
}
.header4 input{
  display:inline-block;
  width:350px;
  height:35px;
}

.header5{
display:inline-block;
  padding-left:500px;
}
.header6{
  display:block;
  text-align:center;
